### 3. Collaborative Filtering (협업 필터링: 사용자 리뷰 기반)

나랑 취향 똑같은 사람이 좋아하는 영화를 내게 추천

In [3]:
import surprise
surprise.__version__

'1.1.3'

In [4]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [6]:
ratings = pd.read_csv('ratings_small.csv')
ratings.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [8]:
ratings['rating'].max()

5.0

In [9]:
reader = Reader(rating_scale=(0.5 ,5))

In [10]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader = reader)
data

In [11]:
svd = SVD(random_state = 0)

In [12]:
# 평가하기
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8901  0.9031  0.8996  0.8940  0.8947  0.8963  0.0045
MAE (testset)     0.6834  0.6956  0.6930  0.6903  0.6868  0.6898  0.0043
Fit time          2.20    1.88    1.60    1.68    2.04    1.88    0.22
Test time         0.24    0.21    0.30    0.29    0.25    0.26    0.03

{'test_rmse': array([0.89009985, 0.90308044, 0.89962358, 0.89399251, 0.89471016]),
 'test_mae': array([0.68343145, 0.69563056, 0.69300203, 0.69032047, 0.68682399]),
 'fit_time': (2.1979472637176514,
  1.8764116764068604,
  1.6006224155426025,
  1.6805148124694824,
  2.0425853729248047),
 'test_time': (0.23914194107055664,
  0.21442723274230957,
  0.297710657119751,
  0.2941892147064209,
  0.24933505058288574)}

### 교차 검증 (K-Fold 교차 검증)

데이터 100개

A: 1-20
B: 21-40
C: 41-60
D: 61-80
E: 81-100

ABCD(train set) E(test set)

ABCE(train set) D(test set)

... 이렇게 계속 test set를 바꿔가며 평균을 내는 것

In [13]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [14]:
# 1번 사람이 평가한 영화와 평점
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [17]:
svd.predict(1, 1029, 3) # 1번 사람이 1029번 영화를 평점 몇점으로 예측할지 보여준다
# r_ui : 실제로 1번 사람은 3점이라고 평가했다

Prediction(uid=1, iid=1029, r_ui=3, est=2.8814455446761933, details={'was_impossible': False})